/* ROOT     ----------------------- */
:root {
    --lara: #FA831B;
    --mosta1: #E38E0E;
    --mosta2: #FDB60F;
    --red1: #E3520E;
    --red2: #FD390F; 

    --oliva1: #5A810C;
    --oliva2: #999806;
    --oliva3: #8F8006;

    --blc-full: #201e22;
    --blc-2: #38363c;
    --blc-3: #4d4a53;
    --blc-4: #6b6774;
    --blc-5: #817c8a;
    --blc-6: #a7a4ad;

    --wht-3:#dad9dc; 
    --wht-2: #eae9eb;
    --wht-1: #f4f4f5;

    --bgcor: #ececec;
  }

/* FONT-FACE----------------------- */

/* === roboto */
@font-face {
    font-family: roboto-re;
    src: url('../_fonts/roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: roboto-li;
    src: url('../_fonts/roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: roboto-bl;
    src: url('../_fonts/roboto/Roboto-Black.ttf');
}

    .testRoboto {font-family: roboto-li;}

/* === josefin Sans */
@font-face {
    font-family: josefin-sa;
    src: url('../_fonts/josefinsans/JosefinSans-VariableFont_wght.ttf');
}

    .testJosefin {font-family: josefin-sa;}

/* === josefin Slab */
@font-face {
    font-family: josefin-sl-re;
    src: url('../_fonts/josefinslab/JosefinSlab-Regular.ttf');
}

.testJoseSlab { font-family: josefin-sl-re;}

/* === lobster */
@font-face {
    font-family: lobster-re;
    src: url('../_fonts/lobaster/Lobster-Regular.ttf');
}

/* === courier */
@font-face {
    font-family: cour-re;
    src: url('../_fonts/cour/cour.ttf');
}

.testLobster {font-family: lobster-re;}


/* GLOBAL CSS */
/* Reset ------------------------------ */


* {
    box-sizing: border-box;
    font-family: roboto-re, sans-serif;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    vertical-align: baseline;
    
}


body {
    background: var(--bgcor);
}

/* Classes de controle */

    .simpleWrapper {width: 100%; display: flex; justify-content: center;}
    .betweenWrapper {width: 100%; display: flex; align-items: center; justify-content: space-between; padding: 10px 5%;} 

    .paddingWrapper {padding: 22px; display: flex; flex-direction: column;}

    .thumb {background-position: center!important; background-size: cover!important; background-repeat: no-repeat!important;}

/* --- Header Global */
.global-header {width: 100%; display: flex; position: fixed; top: 0; justify-content: flex-end; padding: 0 5%; z-index: 5;}

    /* - logo */
    .headLogo {position: absolute; top: 0px; left: 30px; z-index: 3;}
    .headLogo img {transform: rotate(-20deg);}

    /* - nav */
    .headNav {
        display: flex; background: #fff; height: max-content; padding: 12px 16px 18px 16px; border-radius: 0 0 20px 20px; transition: .1s ease-in;
        box-shadow: 0 20px 28px -8px rgba(0,0,0,.235); overflow: hidden;
    }
        .headNav:hover {padding-top: 20px;}
        .headNav ul {display: flex; list-style: none; align-items: center;}
            .headNav ul li {margin: 0 12px;}
                .headNav ul li a {
                    background: #fff; text-decoration: none; padding: 4px 8px; border-radius: 14px; transition: .1s ease-in;
                    box-shadow: 0px 0px 0px var(--oliva3);; font: 1.2em josefin-sl-re; font-weight: 900; color: var(--oliva1);
                    display: flex; align-items: center; box-shadow: 0 40px 0 -6px var(--lara)
                }
                    .headNav ul li a:hover {box-shadow: 0 38px 0 0px var(--lara); color: var(--red1);}
                    .headNav ul li a:active {box-shadow: 0 32px 0 0px var(--red2); color: var(--red2);}

                    .headNav ul li a img {margin: 0 8px;}

/* --- Hero Section */
.heroWrapper {
    width: 100%; display: flex; height: 50vh; padding: 26px; flex-direction: column;
}
    .heroSec {
        width: 100%; display: flex; justify-content: flex-end; border-radius: 26px; background: url('../_img/hero.jpg');
        background-size: cover; background-position: left; height: 100%; overflow: hidden; position: relative; align-items: center; 
    }
        .gradientWprr {width: 100%; height: 100%; z-index: 1; background: linear-gradient(to right, rgba(0, 0, 0, 0), #38363c); position: absolute;}
        .heropatter {width: 100%; position: absolute; bottom: 0; background: url('../_img/heropattern.png'); height: 39px; z-index: 3;}

    .heroTitle {display: flex; flex-direction: column; align-items: flex-end; z-index: 3; padding: 0 5%;}
        .heroTitle h2 {font: 2.2em josefin-sa; color: #E38E0E;}
        .heroTitle h1 {font: 4em lobster-re; color: var(--mosta2);}

        .ligeJa {
            display: flex; align-items: center; background: #E38E0E; padding: 12px; border-radius: 12px;
            margin-top: 12px;
        }   .ligeJa * { font-family: josefin-sa; }

            .ligeJa span {margin-left: 10px; font-size: 1.2em;}

/* --- Feature cards */

h2.especialidades {
    font: 2.6em josefin-sa; border-radius: 12px 12px 0 0; color: var(--oliva1); margin-bottom: 20px;
}

.featureCards {
    width: 100%; display: flex; padding: 32px  0; background: var(--wht-3); justify-content: space-around; border-radius: 22px; margin-bottom: 20px;
}
    .featureCard {
        width: 20%; background: var(--bgcor); padding: 20px; border-radius: 38px; box-shadow: 0 30px 40px -16px rgba(0,0,0,.135);
        display: flex; flex-direction: column; align-items: center; overflow: hidden; transition: .1s ease-in-out; justify-content: space-between;
    }
        .featureCard:hover {box-shadow: 0 12px 8px 0px rgba(0,0,0,.235);}

        .cardThumb {
            width: 100%; height: 200px; background-position: center!important; background-size: cover!important; background-repeat: no-repeat!important;
            position: relative; display: flex; overflow: hidden; border-radius: 32px; border: 4px solid var(--bgcor); box-shadow: 0 30px 40px -16px rgba(0,0,0,.135);
        }

            .cardPattern {position: absolute; z-index: 2; background: url('../_img/cardpattern.png'); width: 100%; color: rgba(0,0,0,0); top: 0;}

        .featureCard h3 {display: flex; flex-direction: column; align-items: center;}
        .featureCard h3 span {font: 1.8em lobster-re; width: 100%; margin-top: 12px; text-align: center; color: var(--red1);} 
            .featureCard h3 hr {border: 1px solid var(--red1); width: 20px; margin-top: 12px;}

        .cardIngredints {
            width: 100%; display: flex; flex-wrap: wrap; list-style: none; justify-content: space-around; padding: 10px; margin-top: 4px; 
        }
            .cardIngredints li {font: 1.1em josefin-sa; background: var(--wht-3); padding: 6px; margin: 5px 2px; border-radius: 12px;} 

        /* - price */
        .bottomPrice {width: 100%; display: flex; justify-content: space-between; align-items: center; margin: 10px 0;}
            .bottomPrice span {font: 1.6em josefin-sa; color: var(--oliva3);}
                .cada {font-size: .7em;}

            .anchorPedido {
                padding: 8px 6px; border-radius: 12px; font: 1.1em roboto-bl; box-shadow: 110px 0 0 var(--red1);
                text-decoration: none; color: var(--red1); transition: .1s ease-in-out;
            }
                .anchorPedido:hover {box-shadow: 140px 0 0 var(--red1); color: var(--mosta1);}

    /* @Media Q */
    @media screen and (min-width: 1800px) {

        /* --- Feature cards */
        h2.especialidades {margin-bottom: 40px;}
        .featureCard {width: 18%; padding: 30px;}

        .anchorPedido {
            box-shadow: 120px 0 0 var(--red1);
        }

    }

    @media screen and (max-width: 1080px) {

        /* --- Header Global */

        .headLogo {position: absolute; top: 80px; left: 10%; transform: scale(1.3); z-index: 1; }
            .headNav {border-radius: 0 0 30px 30px; z-index: 2;}
            .headNav, .headNav ul {width: 100%; justify-content: space-around; }
                .headNav ul li a {font-size: 2.4em; box-shadow: none; padding: 20px 0;}

        /* --- Hero Section */
        .heroTitle {align-items: center; margin-top: 80px;}
            .heroTitle h2, .heroTitle h1, .ligeJa {text-align: center;}

            .heroTitle h2 { color: #fff;}
            .heroTitle h1 {font-size: 5em!important;}
            .ligeJa {font-size: 2em;}

        .heropatter {transform: scale(1.6);}

        /* --- Feature cards */
        h2.especialidades {font-size: 4em; margin-bottom: 30px;}
        .featureCards {flex-direction: column; align-items: center; padding: 80px;}
            .featureCard {width: 100%; padding: 30px; border-radius: 60px; margin: 22px 0;} 
            .cardThumb {border-radius: 60px; border-width: 6px; height: 400px;}
                .cardPattern {transform: scale(1.8);}

            .featureCard h3 {margin-top: 20px; font-size: 4em;}

        .cardIngredints {margin: 30px 0;}
        .cardIngredints li {font-size: 2em; padding: 20px; border-radius: 22px; margin: 10px 4px;}
            .bottomPrice span {font-size: 2.6em; margin-left: 20px;}
                .anchorPedido {font-size: 2.8em; box-shadow: none; margin-right: 40px;}

    }

/* --- visitenos */
.visitenos { margin: 22px 0; }
    .visitenos h2 {font-family: lobster-re;}
    .visitenos h4 {font: 1.1em josefin-sa; color: var(--red2);}

    .addressLine {width: 100%; display: flex; align-content: center; justify-content: space-between;}
        .addssFotos {
            width: 35%; display: flex; height: 70vh; background: url('../_img/enderecos.png'); border-radius: 0 30px 30px 0; color: rgba(0,0,0,0);
            position: relative;
        }

    /* -- citie - List */

    .citiesList {
        width: 55%; display: flex; flex-direction: column; padding: 0 5%; justify-content: center;
    }
        .citiesList li {width: 100%; display: flex; align-items: center; padding: 22px 0; border-bottom: 3px dotted var(--mosta1);}
            .citiesList li .fa-map-marker-alt {margin-right: 40px; font-size: 3.4em; color: var(--red2);}

            .citiesList li:first-child {border-top: 3px dotted var(--mosta1)}
                
                .cityMeta {display: flex; flex-direction: column;}
                    .cityMeta h5 {font: 2em lobster-re; color: var(--red1); }

                    .cityMeta address {margin: 8px 0; width: 100%;}

                    .address-link  {
                        font: 1.1em josefin-sa; color: var(--oliva3); background: var(--wht-1); padding: 6px 8px; border-radius: 6px;
                        margin: 6px 0; box-shadow: 0 4px 8px rgba(0,0,0,.135); display: flex; align-items: center; white-space: nowrap;
                    }
                        .address-link i {transition: .1s ease-in-out; margin-left: 8px;}

                    .address-link:hover {color: var(--red1);}   .address-link:hover i {margin-left: 16px;}
                
                    .funcionaBadge {margin-top: 6px; color: var(--red2);}  .funcionaBadge {color: var(--red1); }

        .adrrssPattrn {position: absolute; right: 0; height: 100%; background: url('../_img/adresspattern.png');}

/* -- Advise e Footer */
.middleAdvise {
    width: 100%; display: flex; flex-direction: column; align-items: center; padding: 15vh 30%; background: var(--wht-1);
}

    .middleAdvise h6 {font: 3.3em lobster-re; color: var(--red2);}
    .middleAdvise p {text-align: center; margin-top: 30px; font: 1.2em josefin-sa; color: var(--blc-2);}

    .edgeborder {width: 100%; display: flex; height: 80px; margin-top: 5vh; color: rgba(0,0,0,0);} 
        .edgbrd-white {background: url('../_img/edgeborder.png');}
        .edgbrd-red {background: url('../_img/edgeborderred.png'); margin-top: -8vh;}

/* -- Default Footer */

    .defaultFooter {
        width: 100%; display: flex; align-items: center; justify-content: space-between; padding: 5%;
        background: var(--red2);
    }

        .defaultFooter h3 {font: 2em lobster-re; color: var(--mosta2);}
            .defaultFooter h3 small {font-size: .6em;}
            .defaultFooter h4 {font: 1.1em josefin-sa; margin-top: 6px;}

        /* redes sociais */
        .redes-sociais {display: flex; align-items: center;}
            .redes-sociais h2 {font: 1.6em josefin-sa;}

            .social-icons {display: flex; align-items: center;}
                .social-icons a {
                    padding: 12px; border: 2px solid #000; font-size: 1.6em; color: #000; margin: 0 6px; transition: .1s ease-in-out;
                }
                    .social-icons a:hover {background: #000; color: var(--mosta2);}

    @media screen and (max-width: 1080px) {

        .visitenos {flex-direction: column;}
            .visitenos h4 {font-size: 2.2em;}

            .addressLine {flex-direction: column; align-items: center; position: relative;}
                .addssFotos {position: absolute; left: 0; z-index: 1; opacity: .05   ;}

                .citiesList {z-index: 2; width: 100%;}  .citiesList li, .citiesList li:first-child {border-width: 8px;}
                    .citiesList li h5 {font-size: 3.8em; margin: 20px 0;}

                .address-link {background: none; box-shadow: none; white-space: normal; font-size: 2.8em;}
                .funcionaBadge {font-size: 2.2em;}

        /* - adivise */
        .middleAdvise {padding: 0 10%;}
            .middleAdvise h6 {text-align: center; font-size: 4em; margin-bottom: 30px;}

            .edgbrd-white {margin-top: 8vh;}
                .middleAdvise {padding: 20px 5% 10vh 5%;}
                .defaultFooter {flex-direction: column; align-items: flex-start;}

                .defaultFooter h3 {font-size: 3em;}
                .defaultFooter h4 {font-size: 2.8em;}

            .redes-sociais {margin-top: 26px; justify-content: space-between;}
                .redes-sociais h2 {font-size: 2.6em;}
                .social-icons a {font-size: 4em; padding: 20px; border-width: 4px;}

    }

/* -- Lista de sabores */

.table-section {padding: 40px;}

/* --- table */
.tablle-wrapper {
    width: 100%; display: table; 
}

    .table-line {width: 100%; display: table-row;}
        .table-cell {width: 25%; display: table-cell; text-align: center;} 

    /* - header */
    .header-line {box-shadow: 0 18px 22px -5px rgba(0,0,0,.045);}
    .header-line .table-cell {background: var(--wht-1); padding: 20px;}
        .header-line .table-cell:first-child {border-radius: 20px 0 0 0;}
        .header-line .table-cell:last-child {border-radius: 0 20px 0 0;}

        .header-line .table-cell strong {font: 1.4em lobster-re; color: var(--oliva3);}

    /* - content */
    .content-line .table-cell {
        background: var(--wht-3); border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 18px;
        position: relative;
    }
        .content-line:nth-child(even) .table-cell {
            background: var(--wht-2);
        }
            .content-line:hover .table-cell {background: #99990638;}

            .content-line .table-cell span {font: 1.1em josefin-sa; color: var(--blc-2);}

        /* - foto */
        .sabor-foto {
            width: 100%; height: 100%; display: flex; background-size: cover!important; background-position: center!important; background-repeat: no-repeat!important;
            position: absolute; top: 0; left: 0; padding: 20px; color: rgba(255, 255, 255, 0); box-shadow: inset 0 0 0 10px  #fff; border-radius: 0 20px 20px 0;
            overflow: hidden;
        }

            .side-pattern {position: absolute; right: 10px; top: 0; height: 100%; background: url('../_img/cardapiopattern.png'); width: 39px;} 

        /* - sabor */
        .flex-cell-wrapper {width: 100%; height: 100%; display: flex; position: absolute; top: 0; left: 0; justify-content: center; align-items: center;}
        .sabor-cell .flex-cell-wrapper span {color: var(--red1); font-size: 1.6em;}

        /* - ingredientes */
        .sabores-list {
            display: flex; flex-wrap: wrap;
        }
            .sabores-list li {
                padding: 4px 0; margin: 6px 12px;
                font: .9em josefin-sa; color: var(--blc-3);
            }

            .margin-ajust-20 {margin: 20px 0;}
            .margin-ajust-10 {margin: 10px 0;}

        /* price cell */
        .price-cell .flex-cell-wrapper strong {font: 2em roboto-li; color: var(--red2);}

/* --- Lista de esfihas */
.esfihas-wrapper {
    width: 100%; display: flex; flex-wrap: wrap; 
}
    .esfiha-card {
        width: 18%; background: #fff; border-radius: 28px; display: flex; flex-direction: column; align-items: center;
        box-shadow: 0 36px 22px -18px rgba(0,0,0,.135); padding: 20px; margin: 1%;
    }

        .esfiha-thumb {
            width: 100%; height: 140px; display: flex; background-size: cover!important; background-position: center!important; background-repeat: no-repeat!important;
            border-radius: 18px; position: relative; color: rgba(255, 255, 255, 0); overflow: hidden;
        }
            .esfiha-thumb .cardPattern {position: absolute; top: 0; left: 0; background: url('../_img/esfiha-cardpattern.png');}

        .esfiha-card h3 {font: 1.8em lobster-re; color: var(--mosta1); margin: 12px 0; text-align: center;}
        .esfiha-card strong {font: 1.4em josefin-sa; color: var(--blc-3); margin: 6px 0;}

/* -- PÁGINA DE CONTATO */
.contatoWrapper {
    width: 100%; display: flex; padding: 36px; 
}
    .contatoRibb {
        width: 100%; display: flex; justify-content: space-around; padding: 36px; background: var(--wht-3); border-radius: 26px;
    }

    .titleWrapper {width: 100%; display: flex; align-items: center; padding: 10px; flex-direction: column;} 
        .titleWrapper h2 {font: 2.2em lobster-re; color: var(--oliva1);}
        .titleWrapper h3 {font: 1.2em josefin-sa; color: var(--blc-3); margin-top: 12px;}

    /* - contact cards */
    .contact-card {
        width: 25%; display: flex; align-items: center; padding: 20px; flex-direction: column; border-right: 8px var(--blc-6) dotted;
        align-content: space-between;
    }

    .contact-card:last-child {border-right: none;}

        .cidade-brasao {width: 150px; height: 150px; display: flex;} .cidade-brasao img {width: 100%; height: 100%;}
            .contact-card h4 {font: 2em lobster-re; color: var(--red2); margin: 12px 0;}

        /* - address */
        .contact-address {width: 100%; display: flex; flex-direction: column; align-items: center; padding: 20px;}
            .contact-address address {text-align: center; font: 1.2em josefin-sa; color: var(--blc-3); margin: 20px 0;}

            .telefone {
                background: var(--mosta1); font: 1.2em josefin-sa; color: var(--blc-full); padding: 10px 20px; border-radius: 12px;
                margin: 10px 0;
            }

            .middle-divid {border: 1px solid var(--blc-4); width: 5%; margin: 10px 0;}

            .zapButton {
                width: 70%; display: flex; justify-content: space-between; align-items: center; border-radius: 12px; overflow: hidden;
                text-decoration: none; background: #fff; margin-top: 18 px; box-shadow: 0 18px 26px -6px rgba(0,0,0,.135); transition: .1s ease-in;
            }
                .zapButton i {
                    background: linear-gradient(#27d246, #50F16D); padding: 12px; border-radius: 12px; color: #fff; font-size: 1.3em; text-shadow: 0 2px 4px rgba(0,0,0,.235);
                    transition: .1s ease-in;
                }
                .zapButton span {width: 100%; height: 100%; padding: 11px 0; text-align: center; font: 1.1em roboto-bl; color:#27d246; transition: .1s ease-in;}

                .zapButton:hover {transform: scale(1.1); background: #27d246;}
                .zapButton:hover span {color: #fff;}
                .zapButton:hover i {background: #fff; color: #27d246; width: 20%; text-align: center; display: flex; justify-content: center;}

    @media screen and (max-width: 1080px) {

        .contatoRibb {flex-direction: column;}

            .contact-card {width: 100%; border: none; border-bottom: 8px dotted var(--blc-6); margin: 30px 0; padding: 60px 0;}
                .contact-card:last-child {border: none;}
                .contact-card * {font-size: 1em; font-size: calc(1em * 1.2);}

                .contact-card h4 {font-size: 4.2em!important;}

                .contact-address .telefone {width: 80%; text-align: center; margin: 30px 0; border-radius: 20px;}

                .zapButton * {font-size: 2em!important;} .zapButton i {padding: 30px; border-radius: 20px;}
                    .zapButton span {font-size: 1.6em!important;}

    }

/* --- Página do peedido */
.iFoodWrapper {
    width: 100%; display: flex; padding: 22px; 
}
    .ifood-line {
        width: 100%; display: flex; justify-content: space-between; padding: 20px; background: #fff;border-radius: 22px;
        align-items: center; box-shadow: 0 28px 36px -8px rgba(0,0,0,.035);
    }
    
        .attract {width: 50%; display: flex; flex-direction: column; padding: 20px;}
            .attract h3 {font: 2em josefin-sa; color: var(--red1);}
            .attract p {font: .9em roboto-bl; color: var(--blc-3); margin: 10px 5px;}

        .iffodWrapper {
            width: 120px; height: 120px; display: flex; justify-content: center; align-items: center; border-radius: 20px; overflow: hidden;
            margin-right: 20px; transition: .1s ease-in-out; box-shadow: 0 12px 22px -5px rgba(0,0,0,.235);
        }
            .iffodWrapper figure, .iffodWrapper figure img {width: 100%; height: 100%;}

                .iffodWrapper:hover {filter: brightness(110%); transform: scale(1.1); box-shadow: 0 24px 38px -5px rgba(0,0,0,.385);}

    /* - nota fiscal */
    .notaFiscalWrapper {width: 100%; display: flex; flex-direction: column; padding: 20px; align-items: center;}    
        .notaFiscal {
            width: 45%; display: flex; flex-direction: column; background: #ccc; padding: 20px;
        }
            .notaFiscal * {font: 18px cour-re;}

            .notaFiscal h5 {width: 100%; text-align: center; font-weight: 900; font-size: 2.2em; margin: 10px 0;}
            .notaFiscal p {margin: 10px;}
                .notaFiscal p strong {font-weight: 900;}
                .notaFiscal p span {margin-right: 20px;}

            .fiscalTop {width: 45%; display: flex; height: 14px; background: url('../_img/fiscaltop.png'); color: rgba(204, 204, 204, 0);}
            .bottomFiscal {background: url('../_img/fiscalbottom.png')}

    /* - Formulario */
    .formWrapper {width: 100%; display: flex; justify-content: center; align-items: center; padding: 20px; margin: 30px 0;}

        .form-field {
            width: 70%; background: var(--wht-1); padding: 60px 20px; display: flex; flex-direction: column; align-items: center; border-radius: 20px;
            border: 1px solid #ccc; 
        }

        .inputLabel {width: 60%; display: flex; flex-direction: column; padding: 8px; margin: 12px 0;}
            .inputLabel span {font: 1.2em josefin-sa; color: var(--blc-2); margin: 6px 0;}
            .deftIpt {
                width: 100%; padding: 8px 12px; border-radius: 8px; font: 1.1em roboto-re; color: var(--blc-3); transition: .1s ease-in;
                border: 2px solid #fff; box-shadow: 0 12px 22px -5px rgba(0,0,0,.105);
            }

                .deftIpt:focus {background: var(--red1); color: #fff; outline: none; border-color: var(--red1); box-shadow: none;}
                .deftIpt:hover {border-color: var(--mosta2); cursor: pointer;}

            .bntLabel {align-items: flex-end;}  
                .submitPedido {
                    width: 40%; display: flex; justify-content: center; align-items: center; padding: 12px 8px; border-radius: 6px;
                    background: var(--mosta1); font: 1.2em josefin-sa; color: var(--blc-full); font-weight: 900; transition: .1s ease-in;
                    box-shadow: 0 18px 22px -5px rgba(0,0,0,.135);
                }
                    .submitPedido:hover {background: var(--mosta2); cursor: pointer;}